<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>

    <RollingFile fileName="logs/app.log"
      filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz"
      name="Application">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="50 MB"/>
      </Policies>
    </RollingFile>

    <RollingFile fileName="logs/main.log"
      filePattern="logs/$${date:yyyy-MM}/main-%d{MM-dd-yyyy}-%i.log.gz"
      name="Main">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="50 MB"/>
      </Policies>
    </RollingFile>

    <RollingFile fileName="logs/alternative.log"
      filePattern="logs/$${date:yyyy-MM}/alternative-%d{MM-dd-yyyy}-%i.log.gz"
      name="Alternative">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="50 MB"/>
      </Policies>
    </RollingFile>

    <RollingFile fileName="logs/punk.log"
      filePattern="logs/$${date:yyyy-MM}/punk-%d{MM-dd-yyyy}-%i.log.gz"
      name="Punk">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="50 MB"/>
      </Policies>
    </RollingFile>

    <RollingFile fileName="logs/emo_hardcore.log"
      filePattern="logs/$${date:yyyy-MM}/emo_hardcore-%d{MM-dd-yyyy}-%i.log.gz"
      name="Emo_hardcore">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="50 MB"/>
      </Policies>
    </RollingFile>

    <RollingFile fileName="logs/metal.log"
      filePattern="logs/$${date:yyyy-MM}/metal-%d{MM-dd-yyyy}-%i.log.gz"
      name="Metal">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="50 MB"/>
      </Policies>
    </RollingFile>
  </Appenders>

  <Loggers>
    <Logger additivity="false" level="info" name="ru.bigspawn.parser.Main">
      <AppenderRef ref="Application"/>
      <AppenderRef ref="Console"/>
    </Logger>

    <Logger additivity="false" level="info" name="page">
      <AppenderRef ref="Main"/>
      <AppenderRef ref="Console"/>
    </Logger>

    <Logger additivity="false" level="info" name="alternative">
      <AppenderRef ref="Alternative"/>
      <AppenderRef ref="Console"/>
    </Logger>

    <Logger additivity="false" level="info" name="punk">
      <AppenderRef ref="Punk"/>
      <AppenderRef ref="Console"/>
    </Logger>

    <Logger additivity="false" level="info" name="emo_hardcore">
      <AppenderRef ref="Emo_hardcore"/>
      <AppenderRef ref="Console"/>
    </Logger>

    <Logger additivity="false" level="info" name="metal">
      <AppenderRef ref="Metal"/>
      <AppenderRef ref="Console"/>
    </Logger>

    <Root level="all">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>